    <!-- ***** Header Area Start ***** -->
    <header>
        


        <div class="bg-primary p-2 text-white">
            <div class="d-flex">
                <div class="text-left col-auto">
                        <ul class="social-list">
                                <li><a href="https://www.google.com/search?q=certified&#x2B;autobrokers&amp;rlz=1C1CHBF_enUS839US839&amp;oq=Certified&#x2B;autobrokers#lrd=0x89d36bea8bd303b9:0xe9520042c96ab45f,1,,," class="mobile-icon-btn btn-link-white" target="_blank"><i class="fab fa-google"></i></a></li>
                                <li><a href="https://www.facebook.com/idrivecertified" class="mobile-icon-btn btn-link-white" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://www.tiktok.com/@idrivecertified" class="mobile-icon-btn btn-link-white" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                                <li><a href="https://www.youtube.com/channel/UCawHYuL_4ew_cV5FVPB_bGQ" class="mobile-icon-btn btn-link-white" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="https://www.instagram.com/idrivecertified/" class="mobile-icon-btn btn-link-white" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                </div>
                <div class="text-right col">
                    <a href="https://www.google.com/maps/dir//1693 Grand Island Boulevard+Grand Island+New York+14072" class="mobile-icon-btn btn-link-white" target="_blank">
                        <i class="fas fa-map-marker-alt"></i> <span class="desktop-text">1693 Grand Island Boulevard Grand Island, New York 14072</span>
                    </a>
                    <span class="mx-2"> | </span>
                    <a href="tel:+17162213291" class="mobile-icon-btn btn-link-white">
                        <i class="fas fa-phone-alt"></i>
                        <span class="desktop-text">716-221-3291</span>
                    </a>
                    <span class="mx-2 desktop-text"> | </span>
                    <span class="desktop-text">
                        Open Today:
                                    <span>09:00 AM -</span>
                                    <span>07:00 PM</span>
                    </span>
                </div>
            </div>
        </div>
    <nav class="navbar navbar-expand-custom navbar-default">
        <div class="container allow-overflow">
                <a class="navbar-brand" href="/">
                    <div class="svg-container w-auto brand-logo"><?xml version="1.0" encoding="utf-8"?>
                    </div>
                </a>
            <div class="navbar-mobile-actions btn-group">
                <a class="btn btn-link navbar-search-btn" data-toggle="collapse" href="#headerSearchCollapse" role="button" aria-expanded="false" aria-controls="headerSearchCollapse">
                    <span class="button-icon">
                        <i class="fas fa-search"></i>
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon button-icon"><i class="fas fa-bars"></i></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <div class="btn-group navbar-mobile-nav">
                    <a class="btn btn-link" data-toggle="modal" data-target="#likedModal">
                        <span class="button-icon">
                            Liked ( <span class="favorite-counter">0</span> )
                            <i class="fas fa-heart ml-2 favorite-icon-mobile"></i>
                        </span>
                    </a>
                    <a class="btn btn-link" data-toggle="modal" data-target="#historyModal">
                        <span class="button-icon">
                            Viewed ( <span class="history-counter">0</span> )
                            <i class="fas fa-car ml-2"></i>
                        </span>
                    </a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/Vehicles" target="_blank" class="nav-link" >Cars For Sale</a>
                    </li>
                    <li class="nav-item">
                        <a href="/service-department" target="" class="nav-link" >Service</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-actions">
                <a class="btn btn-link btn-link-secondary btn-badge" data-toggle="modal" data-target="#likedModal">
                    <span class="button-icon">
                        <i class="fas fa-heart favorite-icon-desktop"></i>
                    </span>
                    <span class="badge badge-primary small favorite-counter">0</span>
                </a>
                <a class="btn btn-link btn-link-secondary btn-badge" data-toggle="modal" data-target="#historyModal">
                    <span class="button-icon">
                        <i class="fas fa-car"></i>
                    </span>
                    <span class="badge badge-primary small history-counter">0</span>
                </a>
                <a class="btn btn-link btn-link-secondary navbar-search-btn m-0" data-toggle="collapse" href="#headerSearchCollapse" role="button" aria-expanded="false" aria-controls="headerSearchCollapse">
                    <span class="button-icon">
                        <i class="fas fa-search"></i>
                    </span>
                </a>
            </div>
        </div>
    </nav>
    <div class="collapse header-searchbar" id="headerSearchCollapse">
        <div class="big-searchbar container">
            <form id="searchForm">
                <div class="input-group h-100">
                    <input id="siteSearchInput" type="text" class="form-control h-100" placeholder="Search..." aria-label="Search Input" name="query">
                    <div class="input-group-append">
                        <button class="btn" type="button" data-toggle="collapse" data-target="#headerSearchCollapse"><i class="fas fa-times"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="modal right fade" id="historyModal" tabindex="-1" role="dialog" aria-labelledby="historyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="historyModalLabel">Recently Viewed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal right fade" id="likedModal" tabindex="-1" role="dialog" aria-labelledby="likedModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="likedModalLabel">Liked</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    
        </header>
    <!-- ***** Header Area End ***** -->