 <!-- ***** Footer Area Start ***** -->
 <footer class="footer bg-secondary text-white py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                    <h4>Connect With Us</h4>
                    <ul class="social-list">
                            <li><a href="https://www.google.com/search?q=certified&#x2B;autobrokers&amp;rlz=1C1CHBF_enUS839US839&amp;oq=Certified&#x2B;autobrokers#lrd=0x89d36bea8bd303b9:0xe9520042c96ab45f,1,,," class="mobile-icon-btn" target="_blank"><i class="fab fa-google"></i></a></li>
                            <li><a href="https://www.facebook.com/idrivecertified" class="mobile-icon-btn" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://www.tiktok.com/@idrivecertified" class="mobile-icon-btn" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCawHYuL_4ew_cV5FVPB_bGQ" class="mobile-icon-btn" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            <li><a href="https://www.instagram.com/idrivecertified/" class="mobile-icon-btn" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                    <br />
                <h4>Contact Us</h4>
                <ul class="contact-list">
                        <li><a href="tel:+17162213291" class="mobile-icon-btn"><i class="fas fa-phone-alt"></i>716-221-3291</a></li>
                        <li><a href="/cdn-cgi/l/email-protection#1063717c7563507974627966757375626479767975743e737f7d" class="mobile-icon-btn"><i class="fas fa-envelope"></i> <span class="__cf_email__" data-cfemail="3d4e5c51584e7d54594f544b585e584f49545b545859135e5250">[email&#160;protected]</span></a></li>
                        <li>
                            <a href="https://www.google.com/maps/dir//1693 Grand Island Boulevard+Grand Island+New York+14072" target="_blank"  class="mobile-icon-btn">
                                <i class="fas fa-map-marker-alt"></i> 1693 Grand Island Boulevard Grand Island, New York 14072
                            </a>
                        </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <table class="table-thin ml-auto">
                    <thead>
                        <tr>
                            <th>Weekday</th>
                            <th>Open</th>
                            <th>Close</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Monday</td>
                                <td>09:00 AM</td>
                                <td>06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                                <td>09:00 AM</td>
                                <td>07:00 PM</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                                <td>09:00 AM</td>
                                <td>06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                                <td>09:00 AM</td>
                                <td>07:00 PM</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                                <td>09:00 AM</td>
                                <td>06:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                                <td>09:00 AM</td>
                                <td>04:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                                <td>10:00 AM</td>
                                <td>03:00 PM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <p class="text-center">
            &copy; 2023 - Certified AutoBrokers
        </p>
        <ul class="link-list text-center">
            <li>
                <a href="/" target="" class="text-white btn-link" >Home</a></li>
            <li>
                <a href="/contact-us" target="" class="text-white btn-link" >Contact</a></li>
            <li>
                <a href="/vehicles" target="" class="text-white btn-link" >Vehicles</a></li>
            <li><a href="/sitemap.xml" class="text-white">Sitemap</a></li>
            <li><a href="/privacy-policy" class="text-white">Privacy Policy</a></li>
            <li><a href="#">Powered By DealerSpry</a></li>
        </ul>
    </div>
</footer>

<!-- ***** Footer Area End ***** -->

